/*入口文件*/

/*公共变量，方法*/
@import "./_variables.scss";
@import "./_functions.scss";
@import "./_mixins.scss";

/*公共组件样式*/
@import "./components/_button.scss";
@import "components/_forms.scss";
@import "./components/_table.scss";


/*=================================================================
  padding
  =================================================================*/
.paddingT0 { padding-top: 0; }
.paddingT5  { padding-top: 5px; }
.paddingT10 { padding-top: 10px; }
.paddingT15 { padding-top: 15px; }
.paddingT20 { padding-top: 20px; }

.paddingB0 { padding-bottom: 0; }
.paddingB5  { padding-bottom: 5px; }
.paddingB10 { padding-bottom: 10px; }
.paddingB15 { padding-bottom: 15px; }
.paddingB20 { padding-bottom: 20px; }

.paddingL0 { padding-left: 0; }
.paddingL5  { padding-left: 5px; }
.paddingL10 { padding-left: 10px; }
.paddingL15 { padding-left: 15px; }
.paddingL20 { padding-left: 20px; }

.paddingR0 { padding-right: 0; }
.paddingR5  { padding-right: 5px; }
.paddingR10 { padding-right: 10px; }
.paddingR15 { padding-right: 15px; }
.paddingR20 { padding-right: 20px; }

.padding0{padding: 0;}
.padding20 { padding:  20px; }

/*=================================================================
  margin
  =================================================================*/
.marginL0 { margin-left: 0;}
.marginT0 { margin-top: 0;}

.marginT10 { margin-top: 10px; }
.marginT20 { margin-top: 20px; }
.marginT30 { margin-top: 30px; }
.marginT40 { margin-top: 40px; }
.marginT50 { margin-top: 50px; }
.marginT60 { margin-top: 60px; }

.marginL10 { margin-left: 10px; }
.marginL20 { margin-left: 20px; }
.marginL30 { margin-left: 30px; }
.marginL40 { margin-left: 40px; }
.marginL50 { margin-left: 50px; }
.marginL60 { margin-left: 60px; }

.marginR10 { margin-right: 10px; }
.marginR20 { margin-right: 20px; }
.marginR30 { margin-right: 30px; }
.marginR40 { margin-right: 40px; }
.marginR50 { margin-right: 50px; }
.marginR60 { margin-right: 60px; }

.marginB10 { margin-bottom: 10px; }
.marginB20 { margin-bottom: 20px; }
.marginB30 { margin-bottom: 30px; }
.marginB40 { margin-bottom: 40px; }
.marginB50 { margin-bottom: 50px; }
.marginB60 { margin-bottom: 60px; }


/**
  初始化布局
*/
html{
  height:100%;
  font-size: $baseFontSize;
}
body{
  min-height:100%;
  margin:0;
  padding:0;
  position:relative;
}

.wrapper{
  min-height:100%;
  .header{
    
  }
  .page-main{
    padding-bottom:100px;
  }
  .footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
  }
}


/**
  公用样式
 */

/*加载文字后面的...动画*/
.loading-ellipsis:after {
  overflow: hidden;
  display: inline-block;
  font-size: 18px;
  vertical-align: bottom;
  animation: ellipsis-animate 2s infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
}
@keyframes ellipsis-animate {
  from {
    width: 2px;
  }
  to {
    width: 18px;
  }
}

/*引用；用来设定一段较长的文字段落样式*/
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: .5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}
blockquote p {
  display: inline;
}