<div class="footer">
    <div class="content padding30">
        <div class="footerTitle fontSize20 paddingB10">
            <p>友情链接：</p>
        </div>
        <div class="footerList clearfix">
            <ul class="ul-no-style">
                <li><a href="http://www.nhfpc.gov.cn/" target="_blank">中华人民共和国国家卫生和计划生育委员会</a></li>
                <li><a href="http://www.nmec.org.cn/" target="_blank">国家医学考试网</a></li>
                <li><a href="http://www.21wecan.com/" target="_blank">中国卫生人才网</a></li>
                <li><a href="http://www.chinabookinternational.org/" target="_blank">中国图书对外推广网</a></li>
                <li><a href="http://www.ipmph.com/journals-electronic" target="_blank">电子期刊</a></li>
            </ul>
            <ul class="ul-no-style">
                <li><a href="http://www.nhfpc.gov.cn/" target="_blank">中华人民共和国国家卫生和计划生育委员会</a></li>
                <li><a href="http://www.nmec.org.cn/" target="_blank">国家医学考试网</a></li>
                <li><a href="http://www.21wecan.com/" target="_blank">中国卫生人才网</a></li>
                <li><a href="http://www.chinabookinternational.org/" target="_blank">中国图书对外推广网</a></li>
                <li><a href="http://www.ipmph.com/journals-electronic" target="_blank">电子期刊</a></li>
            </ul>
            <ul class="ul-no-style">
                <li><a href="http://www.nhfpc.gov.cn/" target="_blank">中华人民共和国国家卫生和计划生育委员会</a></li>
                <li><a href="http://www.nmec.org.cn/" target="_blank">国家医学考试网</a></li>
                <li><a href="http://www.21wecan.com/" target="_blank">中国卫生人才网</a></li>
                <li><a href="http://www.chinabookinternational.org/" target="_blank">中国图书对外推广网</a></li>
                <li><a href="http://www.ipmph.com/journals-electronic" target="_blank">电子期刊</a></li>
            </ul>
        </div>
        <span class="cut-line"></span>
        <div class="footerInfo text-center">
            <p>京公网安备 11010502031111号 备案号：京ICP备05067302号 ©2007-2014 All Rights Reserved 版权所有 人民卫生出版社有限公司</p>
            <p>基建工程监督电话：59787010 基建工程监督信箱：jjjd@pmph.com</p>
        </div>
    </div>
</div>